{% extends 'base.html.twig' %}
{% block title %}Listado de Marcas{% endblock %}
{% block body %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Listado de Marcas</h1>
    <a href="{{ path('marca_new') }}" class="btn btn-primary">Nueva Marca</a>
</div>

{% if marcas %}
    <table class="table table-hover table-bordered table-themed shadow-sm">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Nº de Coches</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for marca in marcas %}
                <tr>
                    <td>{{ marca.id }}</td>
                    <td>{{ marca.nombre }}</td>
                    <td>{{ marca.coches|length }}</td>
                    <td class="text-center">
                        <a href="{{ path('marca_edit', {id: marca.id}) }}" class="btn btn-outline-warning btn-sm me-1">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <form method="post" action="{{ path('marca_delete', {id: marca.id}) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que deseas eliminar esta marca?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marca.id) }}">
                            <button class="btn btn-outline-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning">No hay marcas registradas todavía.</div>
{% endif %}
{% endblock %}
