{% extends 'base.html.twig' %}
{% block title %}Listado de Coches{% endblock %}
{% block body %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Listado de Coches</h1>
    <a href="{{ path('coche_new') }}" class="btn btn-primary">Nuevo Coche</a>
</div>

{% if coches %}
    <table class="table table-hover table-bordered table-themed shadow-sm">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Marca</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for coche in coches %}
                <tr>
                    <td>{{ coche.id }}</td>
                    <td>{{ coche.modelo }}</td>
                    <td>{{ coche.anio }}</td>
                    <td>{{ coche.marca.nombre }}</td>
                    <td class="text-center">
                            <a href="{{ path('coche_edit', {id: coche.id}) }}" 
                                class="btn btn-outline-warning btn-sm me-1" 
                                title="Editar">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        <form method="post" action="{{ path('coche_delete', {id: coche.id}) }}" class="d-inline" onsubmit="return confirm('¿Seguro que deseas borrar este coche?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coche.id) }}">
                            <button class="btn btn-outline-danger btn-sm" title="Eliminar">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% else %}
    <div class="alert alert-warning">No hay coches registrados todavía.</div>
{% endif %}
{% endblock %}
